# 忽略所有常见图片
outputs*
output*
saves
save
logs
log
wandb
__pycache__
*.pth
*.pt
*.ckpt
taming*
*.out
diffusers
trained*
dog
local_*
.idea
*.egg-info
*.log
runs
.vscode

# *.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.bmp
*.bmp
*.tiff
*.webp

reward.txt
*.csv

.deepspeed_env
*.gz
*.tar
*.zip
*.rar
*.7z

.codex
LayerD
ReMOVE
ImageReward
